html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

.word {
    animation: 1.5s ease-out 0s 1 slideInLeft;
    text-transform: capitalize;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 52.5px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

/* LOADING
==================== */

#loading {
    flex-direction: column;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-color: #000;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
  

/* HEADER
==================== */

.header {
    z-index: 1000;
    height: 90px;
    position: fixed;
    width: 100%;
    background-color: rgba(7,7,7,0.55);
    display: flex;
    justify-content: center;
    align-items:center;
}
  
.nav {
    display: flex;
    justify-content: space-between;
    width: 1150px;
    margin: 0 auto;
}
  
.nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 24.5px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    letter-spacing:normal;
    transition: .15s;
}
 
.nav a:hover {  
    transform: translateY(2%);
    color: #ccc;
}

/* WELCOME
==================== */

.welcome { 
    align-items: center;
    width: 100%;
    height: 890px;
    display: flex;
    z-index: 0;
}

.welcome__text {
    font-family: 'Anonymous Pro', sans-serif;
    animation: 1.3s ease-out 0s 1 slideInRight;
    width: 24em;
    font-size: 90px;
    font-weight: 800;
    text-align: left;
    margin-left: 1070px;
    color: white;
    font-size: 90px;
    white-space: pre-line; /* Allow line breaks */
    display: inline-block; /* Ensure block-level element */
  }

  @keyframes slideInRight{
    0% {
        opacity: 0;
      transform: translate(3%, 3%);
    }
    100% {
        opacity: 1;
      transform: translate(0, 0);
    }

}
  .welcome__text::after {
    content: "";
    border-right: 3px solid rgba(255, 255, 255, .75);
    margin-left: 1px; /* Adjust the spacing between text and cursor */
    animation: blinkTextCursor 500ms steps(44) infinite normal;
  }
  
@keyframes blinkTextCursor {
    from {
      border-right-color: rgba(255, 255, 255, .75);
    }
    to {
      border-right-color: transparent;
    }
}
  
.welcome__bg {
    animation: 1.3s ease-out 0s 1 slideInLeft;
    position: absolute;
    filter: brightness(80%);
    top: 0;
    left: 0;
    height: 890px;
    width: 100%;
    z-index: -1000;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
      transform: translate(-3%, 3%);
    }
    100% {
        opacity: 1;
      transform: translate(0, 0);
    }
}

/* CONTENT 1
==================== */

.content1__container {
    background-color: #d4d4d4;
    height: 915px;
}

.content1 {
    justify-content: center;
    gap: 125px;
    display: flex;
    padding-top: 225px;
}

.content1:focus-visible {
    opacity: 0;
}

.content1__text {
    text-align: left;
    width: 700px;
}

.content1__container img {
    object-fit: cover;
    width: 750px;
    height: 500px;
}

/* CONTENT 2
==================== */

.content2__container {
    background-color: #242424;
    height: 915px;
}

.content2 {
    justify-content: center;
    gap: 125px;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 225px;
}

.content2__text {
    text-align: left;
    color: #fff;
    width: 700px;
}

.content2__container img {
    object-fit: cover;
    width: 750px;
    height: 500px;
}

/* CONTENT 3
==================== */

.content3__container {
    background-color: #d4d4d4;
    height: 915px;
}

.content3 {
    justify-content: center;
    gap: 125px;
    display: flex;
    padding-top: 225px;
}

.content3__text {
    width: 700px;
    text-align: left;
}

.content3__container img {
    object-fit: cover;
    width: 750px;
    height: 500px;
}

/* CONTRIBUTE
========================== */

.contribute__container {
    background-color: #242424;
    height: 1080px;

    /* work here */

}

/* CREATORS
========================== */

.creators__container {
    background-color: #242424;
    height: 1080px;

    /* work here */
}

/* FOOTER
========================== */

.footer {
    width: 100%;
    height: 93px;
    background-color: #000;
    display: flex;
}

.footer__content {
    width: 1730px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.footer__text {
    font-size: 28.5px;
    color: white;
    font-weight: 400;
    display: flex;
    margin: auto 0;
}

.footer__images {
    width: 262.5px;
    justify-content: space-between;
    display: flex;
}

.footer__img {
    height: 45px;
    width: auto;
    margin: auto 0;
}

.footer__img{
    cursor: pointer;
}

.b {
    height: 2000px;
}

