body {
    margin: 0;
    padding: 0;
}

.header {
    z-index: 1000;
    height: 90px;
    position: fixed;
    width: 100%;
    background-color: rgba(7,7,7,0.55);
    display: flex;
    justify-content: center;
    align-items:center;
}
  
.logo {
    margin-right: 10px;
}
  
.logo img {
    height: 40px;
}
  
.nav {
    display: flex;
    justify-content: space-between;
    width: 1150px;
    margin: 0 auto;
}
  
.nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 24.5px;
    font-weight: 600;
    /* cursor: pointer;
    background-color: transparent;
    border: none; */
    color: white;
    text-decoration: none;
    letter-spacing:normal;
    transition: color .15s linear;
}
 
.nav a:hover {
    color: #ccc;
}

.welcome { 
    align-items: center;
    width: 100%;
    height: 890px;
    display: flex;
    z-index: 0;
}

.welcome__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: 800;
    text-align: left;
    margin-left: 1070px;
    color: white;
    font-size: 90px;
}

.welcome__bg {
    position: absolute;
    filter: brightness(80%);
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1000;
}

.content1 {
    height: 2000px;
}